@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@media (max-width: 580px) {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
  }

  header {
    background-color: #fff;
  }

  .desktop {
    display: none;
  }

  .topheader {
    display: none;
  }

  .active {
    display: none;
  }

  .bottomdesk {
    display: none;
  }

  .navbar > a {
    font-weight: 600;
    text-decoration: none;
    color: #28352f;
    width: 100%;
  }

  .navbar > li {
    list-style: none;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    display: block;
    padding-right: 10px;
    width: 13px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #3a4a42;
  }

  .hamburger.active1 .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active1 .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active1 .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    top: 5px;
    color: #3a4a42;
    left: -100%;
    gap: 0;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
    text-align: left;
    transition: 0.3s;
    text-decoration: none;
    background-color: #fff;
    padding-top: 130px;
    padding-bottom: 375px;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 70px;
    padding-right: 10px;
    padding-left: 10px;
    align-content: space-between;
  }

  .navbar .hamburger-icon {
    display: block;
    cursor: pointer;
    z-index: 10;
  }

  .nav-link {
    transition: 0.7s ease;
    text-decoration: none;
    color: #28352f;
    font-size: 25px;
  }

  .nav-link:hover {
    color: #01380f;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active1 {
    left: 0;
  }

  .main {
    font-weight: 700;
    font-size: 40px;
    row-gap: 58px;
    background-image: url(images/header-illsutration-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .main > h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center;
    color: #172b4d;
    box-sizing: border-box;
  }

  .main > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #172b4d;
    margin-bottom: 90px;
    margin-top: 22px;
  }

  .mobile {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #172b4d;
    margin-bottom: 52px;
    box-sizing: border-box;
  }

  span {
    color: #36b37f;
    display: block;
  }

  .main > p {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .list-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 126px;
  }

  .disabledimg {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    justify-content: center;
  }

  .indicatorimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .grid-project {
    display: grid;
    grid-column: auto;
    width: 327px;
    margin-left: 26px;
    margin-right: 22px;
    margin-top: 62px;
    row-gap: 20px;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(images/Snapshoot-port1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px #ebf0ee solid;
    width: 100%;
    border-radius: 8px;
    margin: 0 auto;
  }

  .mainproject {
    display: grid;
    grid-column: auto;
    width: 100%;
    margin: 0 auto;
    margin-top: 62px;
    box-sizing: border-box;
  }

  .container {
    margin-top: 252px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
  }

  .container > h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 15px;
    color: #3a4a42;
  }

  .container ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 5px;
  }

  .container > ul > li {
    color: #3a4a42;
    margin-top: 18px;
    font-weight: 600;
    font-size: 10px;
    height: 10%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #ebf0ee;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 28px;
    margin-bottom: 20px;
  }

  .container > button {
    display: flex;
    width: 122px;
    height: 48px;
    margin: auto;
    background-color: #36b37f;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    justify-content: space-around;
    color: #fff;
    margin-bottom: 65px;
    border: none;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    background-image: url(images/illustration1-aboutme.svg), url(images/illustration2-aboutme.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom 70px left;
  }

  .aboutme > h2 {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    font-weight: 700;
    line-height: 52px;
    font-size: 40px;
    text-align: center;
    color: #172b4d;
    box-sizing: border-box;
    margin-bottom: 60px;
  }

  .aboutme > p {
    margin-top: 75px;
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    font-size: 20px;
    line-height: 32px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }

  .aboutme > button {
    width: 159px;
    height: 48px;
    background-color: #36b37f;
    font-size: 16px;
    border-radius: 4px;
    line-height: 20px;
    color: #fff;
    padding: 12px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 108px;
    margin-right: 108px;
    border: none;
  }

  .getintouch {
    display: flex;
    font-family: 'Inter', sans-serif;
    width: 129px;
    height: 48px;
    background-color: #36b37f;
    font-size: 17px;
    border-radius: 4px;
    line-height: 24px;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin: 0 auto;
  }

  .getintouch input:hover {
    cursor: pointer;
    background-color: #01380f;
  }

  .getintouch input:active {
    cursor: pointer;
    background-color: #0be252;
  }

  .contactform button:hover {
    cursor: pointer;
    background-color: #01380f;
  }

  .contactform button:active {
    cursor: pointer;
    background-color: #0be252;
  }

  .container button:hover {
    cursor: pointer;
    background-color: #01380f;
  }

  .container button:active {
    cursor: pointer;
    background-color: #0be252;
  }

  .aboutme button:hover {
    cursor: pointer;
    background-color: #01380f;
  }

  .aboutme button:active {
    cursor: pointer;
    background-color: #0be252;
  }



  /* window-popup */

  .pop-img1 {
    width: 324px;
    height: 206px;
    margin-top: 14px;
  }

  span.close-x {
    padding-left: 273px;
    color: #fff;
    display: block;
    font-size: 31px;
    position: absolute;
    padding-top: 26px;
  }

  .modal-pop1 {
    width: 300px;
    padding: 15px;
  }

  .modal-ul-list {
    display: flex;
    margin-left: 12px;
  }

  .prg-prg {
    width: 311px;
    height: 244px;
    left: 0;
    top: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 17px;
    margin-left: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .m-botton-ul {
    position: absolute;
    display: inline-flex;
    gap: 12px;
    margin-left: -156px;
  }

  .font-styles1 {
    width: 327px;
    height: 100%;
    background-color: #fff;
    margin-top: 12px;
    margin-left: 24px;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
  }


  .w-popup {
    display: none;
    height: 154%;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(193, 199, 208, 0.7);

    /* backdrop-filter: blur(4px); */
  }

  .class-modal {
    display: block;
  }

  .grid-skills-items {
    row-gap: 32px;
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .languages {
    display: flex;
    flex-direction: column;
    background-color: #ebf0ee;
    border: 1px #c1c7d0 solid;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    height: 352px;
    box-sizing: border-box;
  }

  .languages > h2 {
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #3a4a42;
  }

  .languages .image {
    margin-top: 20px;
    margin-left: 140px;
    justify-content: center;
  }

  .languages ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
  }

  .languages > ul > li {
    color: #36b37e;
    margin-top: 45px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 28px;
  }

  .framework {
    display: flex;
    flex-direction: column;
    background-color: #ebf0ee;
    border: 1px #c1c7d0 solid;
    border-radius: 8px;
    width: 100%;
    height: 352px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .framework > h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 15px;
    color: #3a4a42;
    margin-bottom: 20px;
  }

  .framework .image {
    margin-top: 20px;
    margin-left: 140px;
    justify-content: center;
  }

  .framitem1 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 45px;
  }

  .framitem2 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 90px;
  }

  .framitem1 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 45px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .framitem2 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .skills {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    background-color: #ebf0ee;
    border: 1px #c1c7d0 solid;
    border-radius: 8px;
    width: 100%;
    height: 352px;
  }

  .skills > h2 {
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #3a4a42;
  }

  .skills .image {
    margin-top: 20px;
    margin-left: 140px;
    justify-content: center;
  }

  .skillsitem1 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 25px;
  }

  .skillsitem2 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 135px;
  }

  .skillsitem1 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 70px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .skillsitem2 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .contactform {
    margin: 0 auto;
    background-image: url(images/illustration-contact-form.svg);
    background-repeat: no-repeat;
    background-position: bottom 40px right;
    box-sizing: border-box;
    width: 100%;
  }

  .textform {
    text-justify: auto;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 100%;
    margin-bottom: 60px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
  }

  .form {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #6b778c;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 50px;
  }

  .field {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    width: 327px;
    height: 48px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    padding-left: 16px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: #091e42;
    width: 327px;
    height: 114px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #60c095;
    box-sizing: border-box;
    padding-top: 12px;
    padding-left: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    width: 375px;
    margin: 0 auto;
  }

  .email {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    width: 375px;
    line-height: 32px;
    font-size: 20px;
    color: #42526e;
    height: 189px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .shape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    width: 375px;
    margin: 0 auto;
    margin-left: 3px;
    margin-right: 3px;
  }



  .dk {
    display: none;
  }
}

@media (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  /* window-popup */

  .font-styles1 {
    width: 744px;
    margin: 20px auto;
    background-color: #fff;
    height: auto;
    position: relative;
    z-index: 6;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 80px 15px;
    border-radius: 16px;
  }

  img.pop-img1 {
    width: 860px;
    align-items: center;
    padding-left: 26px;
    padding-top: 30px;
  }

  .modal-pop1 {
    padding-left: 24px;
    width: 300px;
  }

  .modal-ul-list {
    display: inline-flex;
    gap: 12px;
    margin-left: 24px;
    margin-bottom: 8px;
  }

  .prg-prg {
    margin-left: 24px;
    margin-top: 30px;
  }

  .mb {
    display: none;
  }

  .m-botton-ul {
    position: absolute;
    display: inline-flex;
    margin-bottom: 38px;
    gap: 12px;
    padding-left: 118px;
    top: 540px;
    bottom: 33px;
    left: 275px;
    right: 0;
  }

  .w-popup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-color: rgba(182, 177, 177, 0.801);
    width: 100%;
    overflow-y: scroll;
  }

  .cont {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cont img {
    width: 93%;
    height: auto;
  }

  .class-modal {
    display: block;
  }

  span.close-x {
    padding-left: 649px;
    position: absolute;
    margin-top: 73px;
    width: 7px;
    color: #fff;
    font-size: 59px;
  }

  body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
    width: 1440px;
  }

  .header {
    display: none;
  }

  /* button animation */

  .button-wiggle {
    animation: wiggle 2s linear infinite;
  }

  @keyframes wiggle {
    0%,
    7% {
      transform: rotate(0);
    }

    15% {
      transform: rotate(-15deg);
    }

    20% {
      transform: rotate(10deg);
    }

    25% {
      transform: rotate(-10deg);
    }

    30% {
      transform: rotate(6deg);
    }

    35% {
      transform: rotate(-4deg);
    }

    40%,
    100% {
      transform: rotate(0deg);
    }
  }

  /* this class belongs to desktop version */

  .grow:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .fade {
    opacity: 0.5;
  }

  .navbar {
    display: none;
  }

  .fade:hover {
    opacity: 1;
  }

  .active > a {
    text-decoration: none;
    list-style: none;
    color: #172b4d;
    font-style: normal;
  }

  .active a:active {
    cursor: pointer;
    background-color: #76797e;
  }

  span {
    color: #36b37f;
    display: block;
  }

  /* this class belongs to desktop version */

  .main {
    text-align: center;
    background-image: url(images/Header-llustration-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }

  .topheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    color: #172b4d;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
  }

  .main > h1 {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 200px;
    padding-top: 50px;
    margin-bottom: 40px;
    color: #172b4d;
    width: 100%;
    box-sizing: border-box;
  }

  .main > p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 770px;
    margin-bottom: 34px;
  }

  .list-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    margin-left: 630px;
    margin-right: 630px;
    margin-bottom: 150px;
  }

  .main > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    margin-bottom: 56px;
  }

  .desktop {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    width: 100%;
    color: #172b4d;
    margin-bottom: 52px;
  }

  .mobile {
    display: none;
  }

  .indicatorimg {
    display: none;
  }

  .disabledimg {
    margin-bottom: 100px;
  }

  .mainproject {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    margin: 0 auto;
  }

  .ul-class-list {
    display: grid;
    list-style: none;
    grid-template-columns: auto auto auto;
  }

  .grid-project {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
    row-gap: 32px;
    padding: 10px;
    margin-left: 132px;
    margin-right: 133px;
    float: left;
  }

  .project {
    margin: auto;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(images/Snapshoot-port1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px #ebf0ee solid;
    width: 327px;
    height: 474px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .container {
    margin-top: 252px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px #ccc solid;
    border-radius: 8px;
    width: 327px;
    height: 222px;
  }

  .container > h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 15px;
    color: #3a4a42;
  }

  .container ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 5px;
  }

  .container > ul > li {
    color: #3a4a42;
    margin-top: 18px;
    font-weight: 600;
    font-size: 10px;
    height: 10%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #ebf0ee;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 28px;
    margin-bottom: 20px;
  }

  .container > button {
    display: flex;
    width: 122px;
    height: 48px;
    margin: auto;
    background-color: #36b37f;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    justify-content: space-around;
    color: #fff;
    margin-bottom: 65px;
    border: none;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    height: 300px;
    background-image: url(images/illustration-about-me-1-desktop.svg), url(images/illustration-about-me-2-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    margin-bottom: 100px;
    box-sizing: border-box;
    width: 100%;
  }

  .aboutme > h2 {
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 40px;
    font-weight: 700;
    line-height: 52px;
    font-size: 40px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 24px;
    box-sizing: border-box;
  }

  .aboutme > p {
    margin-bottom: 60px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 280px;
    margin-right: 280px;
    box-sizing: border-box;
  }

  .aboutme > button {
    width: 159px;
    height: 480px;
    background-color: #36b37f;
    font-size: 16px;
    border-radius: 4px;
    line-height: 20px;
    color: #fff;
    padding: 12px;
    margin: 0 auto;
    border: none;
    margin-bottom: 64px;
  }

  .getintouch {
    display: flex;
    font-family: 'Inter', sans-serif;
    width: 130px;
    height: 60px;
    background-color: #36b37f;
    font-size: 17px;
    border-radius: 4px;
    line-height: 24px;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-left: 20px;
    margin-top: 12px;
    padding: 12px;
  }

  .getintouch input:hover {
    cursor: pointer;
    background-color: #36b37f;
  }

  .getintouch input:active {
    cursor: pointer;
    background-color: #0be252;
  }

  .contactform button:hover {
    cursor: pointer;
    background-color: #36b37f;
  }

  .contactform button:active {
    cursor: pointer;
    background-color: #0be252;
  }

  .container button:hover {
    cursor: pointer;
    background-color: #36b37f;
  }

  .container button:active {
    cursor: pointer;
    background-color: #0be252;
  }

  .aboutme button:hover {
    cursor: pointer;
    background-color: #36b37f;
  }

  .aboutme button:active {
    cursor: pointer;
    background-color: #0be252;
  }

  /* popup window */




  /* desktop version */

  .grid-skills {
    margin-top: 52px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 352px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 164px;
    width: 100%;
  }

  .grid-skills-items {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 24px;
    row-gap: 32px;
    padding: 10px;
    margin-left: 132px;
    margin-right: 133px;
    float: left;
    box-sizing: border-box;
  }

  .languages {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #ebf0ee;
    border: 1px #c1c7d0 solid;
    border-radius: 8px;
    width: 327px;
    height: 352px;
  }

  .languages > h2 {
    margin-top: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #3a4a42;
  }

  .languages .image {
    margin-top: 20px;
    margin-left: 140px;
    justify-content: center;
  }

  .languages ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 5px;
  }

  .languages > ul > li {
    color: #36b37e;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 35px;
  }

  .framework {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #ebf0ee;
    border: 1px #c1c7d0 solid;
    border-radius: 8px;
    width: 327px;
    height: 352px;
  }

  .framework > h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    margin-top: 15px;
    color: #3a4a42;
    margin-bottom: 20px;
  }

  .framework .image {
    margin-top: 20px;
    margin-left: 140px;
    justify-content: center;
  }

  .framitem1 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 35px;
  }

  .framitem2 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 80px;
  }

  .framitem1 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 45px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .framitem2 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .skills {
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #ebf0ee;
    border: 1px #c1c7d0 solid;
    border-radius: 8px;
    width: 327px;
    height: 352px;
  }

  .skills > h2 {
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #3a4a42;
  }

  .skills .image {
    margin-top: 20px;
    margin-left: 140px;
    justify-content: center;
  }

  .skillsitem1 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 5px;
  }

  .skillsitem2 ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px;
    margin-left: 125px;
  }

  .skillsitem1 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 70px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .skillsitem2 > ul > li {
    display: flex;
    flex-wrap: wrap;
    color: #36b37e;
    align-self: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 11px;
    height: 1%;
    text-align: center;
    line-height: 13px;
    justify-items: center;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    align-content: center;
    padding: 17px;
    padding-bottom: 13px;
  }

  .contactform {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url(images/illustration-1-contact-form-desktop.svg), url(images/illustration-2-contact-form-desktop.svg), url(images/SocialMedia.png), url(images/contact\ form-illustratoin-3-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom 50px left, bottom 70px left 250px, bottom center, bottom 50px right;
  }

  .form {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #6b778c;
    width: 100%;
    margin-left: 15px;
    margin-right: 185px;
    box-sizing: border-box;
  }

  .field {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: left;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    color: #091e42;
    width: 100%;
    height: 140px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #60c095;
    box-sizing: border-box;
    padding-top: 12px;
    padding-left: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .textform {
    text-justify: auto;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 52px;
    color: #172b4d;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    width: 80%;
    margin-bottom: 550px;
    margin-left: 50px;
    padding-left: 100px;
    padding-top: 50px;
    box-sizing: border-box;
    animation: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .bottom {
    display: none;
  }

  .email {
    display: none;
  }

  .shape {
    display: none;
  }
}
